# Evolution API
EVOLUTION_API_URL=https://v2.bicalhoadslab.digital/
EVOLUTION_API_KEY=147C8B8AB238-4849-96F7-AFBEB90F15F5
EVOLUTION_INSTANCE_NAME=adriano3

# Google Gemini
GEMINI_API_KEY=AIzaSyBJf4KS522jsQO7EI5nd8LZIhz7CaN5pTY
